.chat-box 
{
    position: fixed;
    bottom: -15px;
    right: 30px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    max-height:70% !important;
}

  .chat-message 
  {
    display: none;  
    max-height: 50% !important;
  }

  .chat-box .card-header
  {

    min-width: 250px !important;
    color:whitesmoke !important;
  }

  .hide-show-message
  {
      margin-top: -20px; 
      margin-right: -10px;
      color: grey !important;
  }

  .hide-show-message:hover
  { 
    color: whitesmoke !important;
  }